{% extends 'base.html' %}

{% block content %}

<div class="mx-auto" style="width: 200px;">
    <h1>MexBank</h1>
</div>
<div class="mx-auto" style="width: 250px;">
    <p class="text-muted">Un banco hecho a tu medida</p>
</div>
<hr>
<h5>
    Esta es una herramienta de gestión para el banco "MexBank" la cual permite gestionar
    toda su base de datos.
    Podrás agregar registros, consultarlos y eliminarlos de una manera muy sencilla, con una
    interfaz intuitiva y fácil de entender.
</h5>
<br>
<h5>
    Para el desarrollo de este proyecto se utlizó el lenguaje de programación python con el
    framework de desarrollo web Django, se usó MySQL como gestor de bases de datos y Bootstrap
    para el diseño de la interfaz gráfica.
</h5>
<br>
<br>
<h5>
    Proyecto final <br>
    Materia: Seminario de Solución de Problemas de Bases de Datos <br>
    Maestro: Francisco Javier Quintanilla Moreno <br>
</h5>

<div class="fixed-bottom">
    <hr>
        <div class="mx-auto" style="width: 200px;">
        <p>Santiago Benavides</p>
        <p>
            Github: <a href="https://github.com/PucheKrunch">PucheKrunch</a>
        </p>
    </div>
</div>

{% endblock %}